{% extends 'templates/account.template.html' %}
{% from 'components/tictactoe.html' import customButton %}



{% block account_content %}

<div class="w-full flex flex-col gap-y-6 pt-6">

    <span class="font-bold text-lg ">Account Settings</span>
    <div class="flex flex-col border-t border-t-slate-300 py-4">
        <h1 class="w-full font-bold">Account Type</h1>

        <div class="flex flex-col sm:flex-row justify-between flex-wrap">
            <p>
                {% if current_user.role == 'employee' %}
                       Job Seeker 
                {% else %}
                        Employer
                {% endif %}
             </p>
            {{ customButton('Change Account Type',color="white", 
                    hoverColor="purple-100/80",
                    classes="border border-blue-800 text-blue-800 px-4 font-bold !w-fit") }}
        </div>
           
    </div>

    <div class="flex flex-col border-t border-t-slate-300 py-4">
        <h1 class="w-full font-bold">Email</h1>

        <div class="flex flex-col sm:flex-row gap-x-12 justify-between flex-wrap">
            <p>
                {{current_user.email}}
             </p>
            {{ customButton('Change Email',color="white", 
                    hoverColor="purple-100/80",
                    classes="border border-blue-800 text-blue-800 px-4 !font-bold !w-fit") }}
        </div>
           
    </div>

    <div class="flex flex-col border-t border-t-slate-300 py-4">
        <h1 class="w-full font-bold">Password</h1>

        <div class="flex flex-col sm:flex-row justify-between flex-wrap">
            <span>••••••••••</span>

            {{ customButton('Change Password',color="white", 
                    hoverColor="purple-100/80",
                    classes="border border-blue-800 text-blue-800 px-4 font-bold !w-fit") }}
        </div>
           
    </div>

    <div class="flex flex-col border-t border-t-slate-300 py-4">

        <div class="flex flex-col sm:flex-row justify-between flex-wrap">
            <p class="font-bold">{{current_user.email}} </p>
            {{ customButton('Sign Out',color="white", 
                    hoverColor="purple-100/80",
                    classes="border border-blue-800 text-blue-800 px-4 font-bold !w-fit") }}
        </div>
           
    </div>

</div>

{% endblock account_content %}
